main {
    background-image: url(./assets/main-background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    background-color: #000000;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 20px;
}

div > img {
    margin-top: 5em;
}

.contact-us > img {
    padding-right: 3em;
}

.contact-us > img:last-child {
    padding-right: 0;
}

table {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

td {
    padding-right: 15px;
    font-size: 0.5em;
}

.philosophy {
    width: 60%;
    margin: 5em auto 15em auto;
    text-align: left;
    font-size: 1em;
}

.title {
    color: #F26835;
    display: block;
    font-size: 7.5vw;
    letter-spacing: 4px;
    line-height: 0.9;
}

.logo {
    margin: 0px auto;
}

.header {
    height: auto;
    text-align: center;
    margin: 0px auto;
}

.about-me {
    height: 600px;
    text-align: center;
    margin: 0px auto;
}

.grooming {
    height: 600px;
    text-align: center;
    margin: 0px auto;
}

.daycare {
    height: 600px;
    text-align: center;
    margin: 0px auto;
}

.clients {
    height: 600px;
    text-align: center;
    margin: 0px auto;
}

.dog-divider {
    margin-top: -6em;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.insta-feed {
    height: auto;
    width: 275px;
    display: inline-block;
    padding-right: 3.25em;
}

.insta-feed:last-child {
    padding-right: 0;
}

h2 {
    color: #F26835;
    margin-top: 10px;
    text-align: left;
}

p {
    text-align: left;
}

p>a {
    color: #000000;
}


/*drop down menu*/
