body {
    margin: 0;
}

main {
    background-image: url(./assets/main-background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    background-color: #000000;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 20px;
}

div > img {
    margin-top: 5em;
}

.contact-us > img {
    padding-right: 3em;
}

.contact-us > img:last-child {
    padding-right: 0;
}

.groom-time {
    display: inline-block;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    padding-right: 5%;
}

.daycare-time {
    display: inline-block;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

td {
    padding-right: 15px;
    font-size: 0.5em;
}

td > p {
    padding-right: 15px;
    font-size: 2em;
}

th {
    text-align: center;
    font-size: 0.75em;
    font-weight: normal;
}

ul{
    list-style: square outside none;
    margin-top: 0;
}

.philosophy {
    width: 60%;
    margin: 5em auto 15em auto;
    text-align: left;
    font-size: 1em;
}

.title {
    color: #F26835;
    display: block;
    font-size: 7.5vw;
    letter-spacing: 4px;
    line-height: 0.9;
}

.logo {
    margin: 0px auto;
}

.header {
    height: auto;
    text-align: center;
    margin: 0px auto;
}

section {
    height: auto;
    text-align: center;
    margin: 0px auto;
}

.list-info{
    text-align: left;
}

.dog-divider {
    margin-top: -6em;
}

.content {
    width: 80%;
    margin: 0 auto 7% auto;
    padding-bottom: 4%;
}

footer > section > .content{
    margin-bottom: 0;
}

.insta-feed {
    height: auto;
    width: 275px;
    display: inline-block;
    padding-right: 3.25em;
}

.insta-feed:last-child {
    padding-right: 0;
}

h1{
    font-size: 3em;
}

h2 {
    color: #F26835;
    margin-top: 10px;
    text-align: left;
}

h3{
    text-align: left;
    margin-bottom: 0.5%;
}

span{
    color: #000000;
    font-size: 0.8em;
    font-weight: normal;
}

p {
    text-align: left;
}

p>a {
    color: #000000;
}

.menu-btn {
    display: none;
    padding-left: 0.5em;
    padding-top: 0.5em
}

.mobile-nav {
    position: absolute;
    left: 0;
    right: 0;
}

.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}

.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0, 0, 0);
    z-index: 99;
}

.expand {
    display: block !important;
}

#instafeed {
    max-width: 100%;
    margin: 0 auto;
}

#instafeed img {
    height: auto;
    width: 9.2857143%;
    padding: 0.25%;
}

@media (max-width: 520px) {
    nav {
        display: none;
    }
    .responsive-menu {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    nav>a {
        display: block;
        text-align: left;
    }
}
