body {
    margin: 0;
}

main {
    background-image: url(./assets/main-background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    background-color: #000000;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 20px;
    font-size: 3vw;
}

div > img {
    margin-top: 5em;
}

.contact-us > img {
    padding-right: 3em;
}

.contact-us > img:last-child {
    padding-right: 0;
}

.groom-time {
    display: inline-block;
    font-size: 3.5vw;
    margin: 0 auto;
    text-align: center;
    padding-right: 5%;
}

.daycare-time {
    display: inline-block;
    font-size: 3.5vw;
    margin: 0 auto;
    text-align: center;
}

td {
    padding-right: 15px;
    font-size: 0.5em;
}

td > p {
    padding-right: 15px;
    font-size: 2vw;
}

th {
    text-align: center;
    font-size: 2.25vw;
    font-weight: normal;
}

ul {
    list-style: square outside none;
    margin-top: 0;
}

.philosophy {
    width: 60%;
    margin: 5em auto 15em auto;
    text-align: left;
    font-size: 1vw;
}

.title {
    color: #F26835;
    display: block;
    font-size: 7.5vw;
    letter-spacing: 4px;
    line-height: 0.9;
}

.logo {
    margin: 0px auto;
}

.header {
    height: auto;
    text-align: center;
    margin: 0px auto;
}

section {
    height: auto;
    text-align: center;
    margin: 0px auto;
}

.list-info {
    text-align: left;
}

.dog-divider {
    margin-top: -6em;
}

.content {
    width: 80%;
    margin: 0 auto 7% auto;
    padding-bottom: 4%;
}

.copyright {
    margin: 1% auto;
    clear: both;
}

.copyright > p {
    text-align: center;
    margin: 0 auto;
}

.copyright > table {
    text-align: center;
    margin: 0 auto;
}

footer > section > .content {
    margin-bottom: 0;
}

.foot-nav {
    font-size: 2em;
    text-align: left;
    display: inline-block;
    /*vertical-align: top;*/
    width: auto;
}

.content > h1 {
    color: #F26835;
    text-align: left;
    margin-top: 0;
}

.insta-feed {
    height: auto;
    width: 275px;
    display: inline-block;
    padding-right: 3.25em;
}

.insta-feed:last-child {
    padding-right: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #F26835;
    margin-top: 10px;
    text-align: left;
}

h3 {
    text-align: left;
    margin-bottom: 0.5%;
}

span {
    color: #000000;
    font-size: 0.8em;
    font-weight: normal;
}

p {
    text-align: left;
}

p>a {
    color: #000000;
}

.expand {
    display: block !important;
}

#instafeed {
    max-width: 100%;
    margin: 0 auto;
}

#instafeed img {
    height: auto;
    width: 9.2857143%;
    padding: 0.25%;
}

@media (max-width: 520px) {
    nav>a {
        display: block;
        text-align: left;
    }
}
