/*@font-face {
    font-family: Playfair Display;
    src: url(./assets/playfairdisplay/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: faunaone;
    src: url(./assets/faunaone/FaunaOne-Regular.ttf);
}*/

@font-face {
    font-family: 'oswaldregular';
    src: url('./assets/webfontkit/oswald-regular-webfont.woff2') format('woff2'),
         url('./assets/webfontkit/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('./assets/webfontkit/opensans-regular-webfont.woff2') format('woff2'),
         url('./assets/webfontkit/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

main {
    background-image: url(./assets/main-background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    background-color: #000000;
    width: 100%;
    height: auto;
    padding: 0.5% 0;
    text-align: center;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 3%;
    font-size: 2vw;
    font-family: open_sansregular;
}

span {
    visibility: hidden;
}

.contact-us {
    margin-top: 5%;
}

.contact-us > a {
    padding-right: 8%;
    height: 10px;
    width: auto;
}

.contact-us > a:last-child {
    padding-right: 0;
}

a>img {
    width: 8%;
    height: auto;
}

.groom-time {
    display: inline-block;
    font-size: 5vw;
    font-family: open_sansregular;
    margin: 0 auto;
    text-align: center;
    padding-right: 8%;
}

.daycare-time {
    display: inline-block;
    font-size: 5vw;
    font-family: open_sansregular;
    margin: 0 auto;
    text-align: center;
}

td {
    font-family: open_sansregular;
    padding-right: 2vw;
    font-size: 0.5em;
}

td:last-child {
    padding-right: 0;
}

td>a {
    text-decoration: none;
    color: #000000;
}

th {
    text-align: center;
    font-size: 2.25vw;
    font-weight: normal;
}

ul {
    list-style: square none;
    margin-top: 0;
    padding: 0;
    font-family: open_sansregular;
}

li {
    font-size: 1em;
    padding-bottom: 1%;
}

.philosophy {
    width: 80%;
    margin: 8% auto 10% auto;
    text-align: left;
}

.title {
    color: #F26835;
    display: block;
    font-family: oswaldregular;
    font-size: 7.5vw;
    letter-spacing: 4px;
    line-height: 0.9;
}

.header {
    height: auto;
    text-align: center;
    margin: 0px auto;
}

.header > img {
    height: 15em;
    width: auto;
    padding-top: 5%;
}

section {
    height: auto;
    overflow: hidden;
    clear: all;
    text-align: center;
    margin: 0px auto;
}

.list-info {
    text-align: left;
}

.dog-divider {
    margin-bottom: -9vw;
    height: auto;
    width: 15%;
}

#daycare > .dog-divider {
    padding-top: 5%;
}

hr {
    margin-bottom: 10%;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4%;
}

div > p {
    font-size: 1em;
    margin-top: 0;
}

.primary {
    width: 55%;
    float: left;
}

.primary > p {
    font-size: 1em;
}

aside {
    width: auto;
    height: auto;
    float: right;
}

aside>img {
    width: 10vw;
    padding: 1%;
}

.copyright {
    margin: 8% auto 0 auto;
    clear: both;
}

.copyright > p {
    text-align: center;
    margin: 0 auto;
}

.copyright > table {
    text-align: center;
    margin: 0 auto;
}

.foot-nav {
    font-size: 2.5em;
    font-family: open_sansregular;
    text-align: left;
    display: inline-block;
    margin: 0 3% 3% 3%;
}

.content > h1 {
    color: #F26835;
    text-align: left;
    margin-top: 0;
    font-size: 4vw;
    font-family: oswaldregular;
}

h2 {
    color: #F26835;
    margin-top: 5%;
    text-align: left;
    font-family: oswaldregular;
}

h3 {
    text-align: left;
    margin-bottom: 0.5%;
    font-family: oswaldregular;
}

p {
    text-align: left;
    font-family: open_sansregular;
}

#instafeed {
    max-width: 100%;
    margin: 0 auto;
}

#instafeed img {
    height: auto;
    width: 15.2857143%;
    padding: 0.25%;
}

.insta-feed {
    height: auto;
    width: 275px;
    display: inline-block;
    padding-right: 3.25em;
}

.insta-feed:last-child {
    padding-right: 0;
}

@media (max-width: 927px) {
    .foot-nav {
        display: inline-block;
        padding-left: 5%;
        padding-top: 5%;
    }
    .primary {
        width: 100%;
    }
    .primary>h3,
    .list-info>h3 {
        font-size: 1.15em;
    }
    aside {
        float: left;
        width: 100%;
    }
    .content>aside {
        padding-bottom: 5%;
    }
    .content > aside > img {
        display: inline-block;
        padding: 0;
    }
    .content > aside > img:last-child {
        display: none;
    }
    br {
        display: none;
    }
}

@media (max-width: 520px) {
    nav > a {
        font-size: 3vw
    }
    .header>img {
        height: 10em;
        width: auto;
    }
    .groom-time,
    .daycare-time {
        font-size: 8vw;
    }
    th {
        font-size: 6vw;
    }
    .contact-us {
        background-color: #000000;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    aside {
        display: none;
    }
    .primary {
        width: 100%;
    }
    div > p {
        font-size: 1em;
    }
    li {
        font-size: 1em;
    }
    .foot-nav {
        display: inline-block;
        font-size: 1.53em;
        margin: 3% 3% 5% 3%;
    }
    .copyright {
        padding-bottom: 2em;
    }
    main {
        background-image: url(./assets/mobile-background.png);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
}
